<template>
  <b-row class="home-title">
    <b-col cols="12">
      Posts
    </b-col>
  </b-row>
</template>

<style>
.home-title {
  height: 53px;
  line-height: 53px;
  border-bottom: 1px solid rgb(235, 238, 240);
  border-top: 1px solid rgb(235, 238, 240);
  font-weight: 600;
}

@media(min-width: 576px){
  .home-title {
    margin-bottom: 0px;
    border-top: 0;
  }
}

.home-title a {
  color: inherit;
}
</style>
