<template>
  <div class="menu">
    <NuxtLink to="/" class="menu-item btn btn-outline-primary">
      <b-icon-card-list />
      Posts
    </NuxtLink>
    <NuxtLink to="/search" class="menu-item btn btn-outline-primary">
      <b-icon-search />
      Search
    </NuxtLink>
    <div class="menu-item btn btn-primary btn-add-post" @click="$bvModal.show('modal-add-post')">
      <b-icon-plus />
      Add post
    </div>
    <b-modal :id="'modal-add-post'" title="Add post" hide-footer>
      <PostForm />
    </b-modal>
  </div>
</template>

<style>
.menu {
  padding-top: 15px;
}

@media(min-width: 576px){
  .menu {
    padding-top: 53px;
  }
}

.menu .menu-item {
  display: inline-block;
  width: fit-content;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: none;
}

@media(min-width: 576px){
  .menu .menu-item {
    display: block;
  }
}

.menu .menu-item:hover{
  opacity: 0.5;
}

.menu .menu-item.btn-add-post {
  opacity: 1;
  display: inline-block;
  width: auto;
  float: right;
  margin-top: 0;
}

@media(min-width: 576px){
  .menu .menu-item.btn-add-post {
    margin-top: 47px;
    width: 100%;
    float: initial;
  }
}

.menu .menu-item.nuxt-link-exact-active {
  font-weight: 600;
}
</style>
