<template>
  <b-row class="post-form">
    <b-col cols="12" class="text-right">
      <textarea v-model="text" placeholder="What's happening?" />
      <div class="btn btn-primary" :class="{ disabled: !text }" @click="savePost()">
        Send
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  data () {
    return {
      id: '',
      text: ''
    }
  },
  mounted () {
    if (this.$attrs.id) {
      this.id = '' + this.$attrs.id
    }
    if (this.$attrs.text) {
      this.text = '' + this.$attrs.text
    }
  },
  methods: {
    savePost () {
      if (this.text) {
        this.$store.commit('posts/save', {
          id: this.id,
          text: this.text
        })
        if (this.id) {
          this.$root.$emit('bv::hide::modal', 'modal-save-post-' + this.id)
        } else {
          this.$root.$emit('bv::hide::modal', 'modal-add-post')
          this.text = ''
          this.$router.replace('/')
        }
      }
    }
  }
}
</script>

<style>
.post-form {
  padding: 15px 0;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.post-form textarea {
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 1px solid rgb(235, 238, 240);
  min-height: 45px;
  height: 45px;
}

.post-form .btn {
  border-radius: 20px;
}
</style>
