<template>
  <div>
    <b-row v-if="!posts.length">
      <b-col class="post" cols="12">
        No posts
        <span v-if="filter">for this search</span>
      </b-col>
    </b-row>
    <b-row v-if="posts.length" class="posts">
      <b-col v-for="post in posts" :key="post.id" class="post" cols="12">
        <b-row class="post-header">
          <b-col cols="6" class="post-date text-left">
            {{ Date.now() - post.id | duration('humanize') }} ago
          </b-col>
          <b-col cols="6" class="text-right">
            <b-btn-group size="sm">
              <b-btn variant="link" @click="$bvModal.show('modal-save-post-' + post.id)">
                Edit
              </b-btn>
              <b-btn variant="link" @click="removePost(post)">
                Remove
              </b-btn>
            </b-btn-group>
          </b-col>
        </b-row>
        <div class="post-text">
          {{ post.text }}
        </div>
        <b-modal :id="'modal-save-post-' + post.id" title="Edit post" hide-footer>
          <PostForm :id="post.id" :text="post.text" />
        </b-modal>
      </b-col>
    </b-row>
    {{ $attrs.search }}
  </div>
</template>

<script>
export default {
  scrollToTop: true,
  computed: {
    filter () {
      return this.$store.state.posts.filter
    },
    posts () {
      return this.$store.state.posts.filteredList
    }
  },
  methods: {
    addPost (event) {
      this.$store.commit('posts/add', event.target.value)
      event.target.value = ''
    },
    removePost (post) {
      this.$store.commit('posts/remove', post)
    }
  }
}
</script>

<style>
.post {
  padding: 15px;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.post .post-header {
  font-size: 10px;
}

.post .post-header .post-date {
  line-height: 25px;
}

.post .post-header .btn {
  font-size: 10px;
  outline: none;
  box-shadow: none;
}
</style>
