<template>
  <b-row class="search-form">
    <b-col cols="12">
      <NuxtLink to="/" class="search-back">
        <b-icon-arrow-left-circle />
      </NuxtLink>
      <div class="search-input" :class="{ focused: focused }">
        <b-icon-search />
        <input
          v-model="text"
          type="text"
          placeholder="Enter search text"
          @input="updateFilter()"
          @focus="focused = true"
          @blur="focused = false"
        >
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  data () {
    return {
      text: '',
      focused: false
    }
  },
  mounted () {
    if (this.$store.state.posts.filter) {
      this.text = this.$store.state.posts.filter
    }
  },
  methods: {
    updateFilter () {
      this.$store.commit('posts/setFilter', this.text)
    }
  }
}
</script>

<style>
.search-form {
  height: 53px;
  line-height: 53px;
  border-bottom: 1px solid rgb(235, 238, 240);
  font-weight: 600;
}

.search-form .search-input {
  height: 37px;
  margin-top: 7px;
  background-color: rgb(235, 238, 240);
  border-radius: 9999px;
  border-color: rgba(0, 0, 0, 0);
  margin-left: 30px;
}

.search-form .search-input.focused {
  border: 1px solid rgb(235, 238, 240);
  background-color: white;
}

.search-form .search-input input {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  height: 37px;
  margin-left: 40px;
  width: calc(100% - 110px);
}

.search-form .search-input.focused input {
  height: 35px;
  margin-left: 39px;
}

.search-form .search-input .bi-search {
  position: absolute;
  margin-left: 15px;
  top: 17px;
}

.search-form .search-input.focused .bi-search {
  margin-left: 14px;
}

.search-form .search-back {
  width: 20px;
  height: 53px;
  position: absolute;
  color: inherit;
}
</style>
