<template>
  <b-container>
    <b-row>
      <b-col cols="12" sm="4" md="4" class="header">
        <Menu />
      </b-col>
      <b-col cols="12" sm="8" md="8" class="content">
        <Nuxt />
      </b-col>
    </b-row>
  </b-container>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  height: auto;
  margin-bottom: 15px;
}

@media(min-width: 576px){
  .header {
    height: 100vh;
    margin-bottom: 0px;
  }
}

.content {
  border-left: 1px solid rgb(235, 238, 240);
  border-right: 1px solid rgb(235, 238, 240);
}
</style>
