<template>
  <div>
    <SearchForm />
    <div class="sub-content">
      <Posts />
    </div>
  </div>
</template>

<script>
export default {
  scrollToTop: true,
  mounted () {
    this.$store.commit('posts/setFilter', '')
  }
}
</script>

<style>
.sub-content {
  overflow-y: auto;
  max-height: calc(100vh - 53px);
  margin: 0 -15px;
  padding: 0 15px;
}
</style>
